footer{
    width: 100%;
    background-color: #1b1b1b;
    padding: 30px;
    box-sizing: border-box;
}
footer>div.data{
    text-align: justify;
    padding-top: 50px;
    box-sizing: border-box;
    color: bisque;
    width: 50%;;
    display: inline-block;
    vertical-align: top;
    margin-left: 50%;
}
footer>div.social{
    color: bisque;
    display: inline-block;
    font-size: 30px;
    padding: 10px;
    box-sizing: border-box;
    width: 50%;
    text-align: center;
    vertical-align: top;
    padding-bottom: 100px;
    

}
footer>div.social>span{
    color: bisque;
    font-size: 30px;
    margin-right: 10px;
}